---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-config
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./apps/infra/cert-manager-config
  prune: true
  wait: true
  timeout: 5m
  dependsOn:
    - name: cert-manager
  healthChecks:
    - apiVersion: v1
      kind: Secret
      name: porkbun-credentials
      namespace: cert-manager
    - apiVersion: apps/v1
      kind: Deployment
      name: porkbun-webhook
      namespace: cert-manager
