---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - discord-webhook-sealed-secret.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
